* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: gold;
}

header {
  color: gold;
  position: absolute;
  width: 95%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  letter-spacing: 2px;
}

header .logo {
  color: gold;
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  font-size: 30px;
  text-transform: uppercase;
  padding: 6px 15px;
  border-radius: 20px;
}

header .menu-bar {
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 6px 15px;
}

header .menu-bar li {
  color: gold;
  margin-right: 30px;
  padding: 6px 15px;
}

header ul li a {
  color: gold;
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  padding: 6px 15px;
  border-radius: 20px;
}
.sub-menu-1 {
  display: none;
}

header .menu-bar li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgb(36, 36, 36);
  color: rgb(255, 111, 0);
  margin-top: 10px;
  margin-left: -15px;
}
header ul li a:hover,
.sub-menu-1 ul {
  display: block;
}
header ul li a:hover,
.sub-menu-1 ul li {
  background-color: transparent;
  border-bottom: 1px solid white;
}
header ul li a:hover,
.sub-menu-1 ul li:last-child {
  border-bottom: none;
}
header ul li a:hover,
.sub-menu-1 ul li:first-child {
  border-top: 2px dotted white;
}
header ul li a:hover {
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  background: gold;
  color: rgb(49, 49, 49);
  border-radius: 20px;
  padding: 6px 15px;
}

.main {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.main img {
  position: absolute;
  width: 105%;
  height: 100vh;
}

.content {
  color: rgb(68, 16, 16);
  padding: 30px;
}
.content div {
  border-radius: 20px;
}
.content h2 {
  margin: 20px;
  font-size: 30px;
}

.content p {
  margin: 20px;
}
p {
  line-height: 2;
}
.footer-bottom {
  font-family: cursive;
  font-size: xx-small;
  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
  opacity: 50%;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-bottom2 {
  font-family: cursive;
  font-size: xx-small;
  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
  opacity: 50%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer {
  padding: 20px;
  width: 97.5%;
  margin-top: 20px;
}

.footer-content {
  width: 97.5%;
  height: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: small;
  text-align: center;
  color: #ffff;
  letter-spacing: 4px;
  line-height: 30px;
}
#link {
  color: #ffff;
  text-decoration: rgb(246, 255, 0) underline;
  font-family: cursive;
  font-size: 25px;
}
.socials a {
  display: inline-block;
  font-size: 2.5em;
  padding: 15px;
  transition: 0.5s;
}

.socials a:hover {
  color: #441010;
  transform: scale(1.1);
}

.img1 {
  width: 500px;
  height: 300px;
  display: block;
  margin: 20px auto;
  padding: 5px;
  border-radius: 20px;
  transition-duration: 1s;
}
.img1:hover {
  transform: rotate(360deg) scale(1.2);
  border: 2px double black;
}

.wwqqq h2,
span {
  font-family: cursive;
}
.wwqqq {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: 500;
  color: #222;
  letter-spacing: 5px;
  cursor: pointer;
}

.wwqqq:hover span:nth-child(1) {
  margin-right: 10px;
}

.wwqqq span {
  transition: 0.5s;
}

.wwqqq:hover span:nth-child(2) {
  margin-left: 10px;
}

.wwqqq:hover span {
  color: red;
  text-shadow: 0 0 10px gold, 0 0 30px, 0 0 50px, 0 0 70px, 0 0 90px;
}
.qmq {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Mercedes {
  margin: 40px;
  padding: 40px;
  border: 3px solid #4e0649;
  width: 550px;
  height: 900px;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
.Jaguar {
  margin: 40px;
  padding: 40px;
  border: 3px solid #4e0649;
  width: 550px;
  height: 900px;
  display: flex;
  flex-direction: column-reverse;
  line-height: 1.5;
}
.qaq {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ChevroletCorvette {
  margin: 40px;
  padding: 40px;
  border: 3px solid #4e0649;
  width: 550px;
  height: 750px;
  display: flex;
  flex-direction: column-reverse;
  line-height: 1.8;
}
.AstonMartin {
  margin: 40px;
  padding: 40px;
  border: 3px solid #4e0649;
  width: 550px;
  height: 750px;
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}

.qwq {
  display: flex;
  justify-content: center;
  align-items: center;
}
.BMW {
  margin: 40px;
  padding: 40px;
  border: 3px solid #4e0649;
  width: 550px;
  height: 950px;
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}
.Rolls-Royce {
  margin: 40px;
  padding: 40px;
  border: 3px solid #4e0649;
  width: 550px;
  height: 950px;
  display: flex;
  flex-direction: column-reverse;
  line-height: 1.5;
}
.qrq {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Ford {
  margin: 40px;
  padding: 40px;
  border: 3px solid #4e0649;
  width: 550px;
  height: 900px;
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}
.Toyota {
  margin: 40px;
  padding: 40px;
  border: 3px solid #4e0649;
  width: 550px;
  height: 900px;
  display: flex;
  flex-direction: column-reverse;
  line-height: 1.8;
}
.qtq {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Dodge {
  margin: 40px;
  padding: 40px;
  border: 3px solid #4e0649;
  width: 550px;
  height: 740px;
  display: flex;
  flex-direction: column;
  line-height: 1.8;
}
.Bugatti {
  margin: 40px;
  padding: 40px;
  border: 3px solid #4e0649;
  width: 550px;
  height: 740px;
  display: flex;
  flex-direction: column-reverse;
  line-height: 1.8;
}
