* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: gold;
}

header {
  color: gold;
  position: absolute;
  width: 95%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  letter-spacing: 2px;
}

header .logo {
  color: gold;
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  font-size: 30px;
  text-transform: uppercase;
  padding: 6px 15px;
  border-radius: 20px;
}

header .menu-bar {
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 6px 15px;
}

header .menu-bar li {
  color: gold;
  margin-right: 30px;
  padding: 6px 15px;
}

header ul li a {
  color: gold;
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  padding: 6px 15px;
  border-radius: 20px;
}
.sub-menu-1 {
  display: none;
}

header .menu-bar li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgb(36, 36, 36);
  color: rgb(255, 111, 0);
  margin-top: 10px;
  margin-left: -15px;
}
header ul li a:hover,
.sub-menu-1 ul {
  display: block;
}
header ul li a:hover,
.sub-menu-1 ul li {
  background-color: transparent;
  border-bottom: 1px solid white;
}
header ul li a:hover,
.sub-menu-1 ul li:last-child {
  border-bottom: none;
}
header ul li a:hover,
.sub-menu-1 ul li:first-child {
  border-top: 2px dotted white;
}
header ul li a:hover {
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  background: gold;
  color: rgb(49, 49, 49);
  padding: 6px 15px;
}

.main {
  background-image: url(img/bg-section1.jpg);
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main .rrttrr{
 transition-duration: 3s;
}

.main img:hover{
  transform: scale(1.1) rotate(-3deg);
}
.main::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.main img {
  position: absolute;
  width: 90%;
  height: 80vh;
}
.content div {
  border-radius: 20px;
}
.content {
  color: rgb(68, 16, 16);
  padding: 30px;
}

.footer-bottom {
  font-family: cursive;
  font-size: xx-small;
  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
  opacity: 50%;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-bottom2 {
  font-family: cursive;
  font-size: xx-small;
  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
  opacity: 50%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer {
  padding: 20px;
  width: 97.5%;
  margin-top: 20px;
}
.footer-content .wwww .ssss a .eerree{
  width: 50px;
  height: 50px;
}
.wwww .ssss .eerree img{
  margin: 30px;
  padding: 30px;
}

.footer-content {
  width: 97.5%;
  height: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: small;
  text-align: center;
  color: #ffff;
  letter-spacing: 4px;
  line-height: 30px;
}
#link {
  color: #ffff;
  text-decoration: rgb(246, 255, 0) underline;
  font-family: cursive;
  font-size: 25px;
}
.socials a {
  display: inline-block;
  font-size: 2.5em;
  padding: 15px;
  transition: 0.5s;
}

.socials a:hover {
  color: #441010;
  transform: scale(1.1);
}
.seh {
  font-size: 4.5rem;
  font-weight: bolder;
  color: rgb(175, 175, 175);
  margin-bottom: 20px;
  letter-spacing: 1rem;
  text-align: center;
  text-shadow: 0.3rem 0.3rem 0.5rem rgb(30, 30, 30);
}
.cont {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, minmax(10px, 1fr));
  grid-template-rows: repeat(4, 10vw);
  grid-gap: 16px;
  background-color: gray;
  padding: 16px;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  transition: opacity 0.5s;
}

.img:hover {
  opacity: 1;
}

.img-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.img-2 {
  grid-column: 3 / 6;
  grid-row: 1 / 3;
}

.img-3 {
  grid-column: 6 / 7;
  grid-row: 1 / 2;
}

.img-4 {
  grid-column: 7 / 9;
  grid-row: 1 / 3;
}

.img-5 {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.img-6 {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
}

.img-7 {
  grid-column: 6 / 7;
  grid-row: 2 / 4;
}

.img-8 {
  grid-column: 5 / 6;
  grid-row: 3 / 5;
}

.img-9 {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.img-10 {
  grid-column: 3 / 5;
  grid-row: 4 / 5;
}

.img-11 {
  grid-column: 6 / 7;
  grid-row: 4 / 5;
}

.img-12 {
  grid-column: 7 / 9;
  grid-row: 3 / 5;
}

.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #222;
}

/* Common Section Styles */
.wrapper {
  width: 100%;
  height: 100vh;
  perspective: 50rem;
  margin-bottom: 70px;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #efefef;
  position: relative;
  left: 0;
  margin-bottom: 3rem;
  transform-origin: left;
  box-shadow: 0.5rem 0.5rem 1rem #aaa;
  padding: 5rem 0;
  transition: left 0.5s, transform 0.5s;
}

section.change {
  left: 15vw;
  transform: rotateY(20deg);
}

.section-heading {
  font-size: 4.5rem;
  font-weight: bolder;
  color: rgb(175, 175, 175);
  margin-bottom: 5rem;
  letter-spacing: 1rem;
  text-align: center;
  text-shadow: 0.3rem 0.3rem 0.5rem #555;
}
/* End of Common Section Styles */

/* Section 3 */
.section-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  padding: auto;
}

.video {
  width: 30%;
  margin: 5px;
  border-radius: 0.5rem;
  opacity: 0.8;
  box-shadow: 0.3rem 0.3rem 0.5rem #111;
  transition: all 0.5s;
}

.video:hover {
  opacity: 1;
  box-shadow: 0.5rem 0.5rem 1rem #111;
}

.videos-wrapper {
  margin-left: 100px;
}

.jjkkjjk {
  width: 100%;
  background-color:#fff;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 0;
  border-bottom: 3px solid #000 ;
  border-top: 3px solid #000 ;
}

.ivvgb {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}
.ivvgb h1 {
  text-transform: capitalize;
  font-size: 4.5rem;
  font-weight: bolder;
  color: rgb(175, 175, 175);
  text-shadow: 0.3rem 0.3rem 0.5rem rgb(0, 0, 0);
  margin-bottom: 5rem;
}
.jjjj {
  margin: 30px 30px;
  padding: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow:  0.0rem 0.0rem 0.6rem rgb(23, 23, 23),
  0.0rem 0.0rem 1rem rgb(23, 23, 23);
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
}
.eerreerreerr {
  width: 70px;
  height: 70px;
}
.jjjj p{
  font-size: 25px;
  line-height: 1.5;
}

.services{
  display: flex;
  justify-content: center;
  align-items: center;
}


.services p{
  margin: 20px 0;
}

.logo{
  display: flex;
  justify-content: center;
}

.logo img{
  height: 80px;
  padding: 15px;
}
