* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

html {
  font-size: 72.5%;
}
a {
  text-decoration: none;
  color: gold;
}

header {
  color: gold;
  position: absolute;
  width: 95%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  letter-spacing: 2px;
}

header .logo {
  color: gold;
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  font-size: 30px;
  text-transform: uppercase;
  padding: 6px 15px;
  border-radius: 20px;
}

header .menu-bar {
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 6px 15px;
}

header .menu-bar li {
  color: gold;
  margin-right: 30px;
  padding: 6px 15px;
}

header ul li a {
  color: gold;
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  padding: 6px 15px;
  border-radius: 20px;
}
.sub-menu-1 {
  display: none;
}

header .menu-bar li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgb(36, 36, 36);
  color: rgb(255, 111, 0);
  margin-top: 10px;
  margin-left: -15px;
}
header ul li a:hover,
.sub-menu-1 ul {
  display: block;
}
header ul li a:hover,
.sub-menu-1 ul li {
  background-color: transparent;
  border-bottom: 1px solid white;
}
header ul li a:hover,
.sub-menu-1 ul li:last-child {
  border-bottom: none;
}
header ul li a:hover,
.sub-menu-1 ul li:first-child {
  border-top: 2px dotted white;
}
header ul li a:hover {
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  background: gold;
  color: rgb(49, 49, 49);
  padding: 6px 15px;
}

.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(54, 1, 1, 0.841), rgba(1, 1, 77, 0.773));
  background-size: cover;
  perspective: 100rem;
}

.forms-wrapper {
  transform-style: preserve-3d;
  position: absolute;
  top: calc(50% - 17.5rem);
  left: calc(50% - 25rem);
  transform: rotateY(10deg);
  transition: transform 0.5s, left 0.5s;
}

.forms-wrapper.change {
  transform: rotateY(70deg);
  left: calc(50% + 25rem);
}

.forms-wrapper form {
  width: 50rem;
  height: 35rem;
  background-color: rgba(61, 61, 61, 0.782);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0.1rem 0.1rem 0.1rem #ccc inset, -0.1rem -0.1rem 0.1rem #ccc inset;
  position: absolute;
}

.signup-form {
  transform: rotateY(270deg) translateZ(25rem) translateX(-25rem);
}

form a {
  position: absolute;
  top: 2rem;
  background-color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  letter-spacing: 0.2rem;
}

.signup-btn {
  left: 2rem;
  padding: 0.5rem 1rem 0.5rem 3rem;
  border-radius: 100% 0.5rem 0.5rem 100%;
}

.signin-btn {
  right: 2rem;
  padding: 0.5rem 3rem 0.5rem 1rem;
  border-radius: 0.5rem 100% 100% 0.5rem;
}

form h2 {
  font-size: 2.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #fff;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
}

.inputs-wrapper input {
  width: 25rem;
  height: 3rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  background-color: transparent;
  border: 0.1rem solid #fff;
  border-radius: 5rem;
  color: #fff;
  letter-spacing: 0.1rem;
  outline: none;
}

.inputs-wrapper input::placeholder {
  color: #fff;
  font-weight: 300;
}

.inputs-wrapper input[type="submit"] {
  background-color: #fff;
  color: rgb(0, 0, 0);
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
}
