* {
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(90, 90, 90);
  width: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  color: gold;
}

header {
  color: gold;
  position: absolute;
  width: 95%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  letter-spacing: 2px;
  font-size: 15px;
}

header .logo {
  color: gold;
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  font-size: 30px;
  text-transform: uppercase;
  padding: 6px 15px;
  border-radius: 20px;
}

header .menu-bar {
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 6px 15px;
}

header .menu-bar li {
  color: gold;
  margin-right: 30px;
  padding: 6px 15px;
}

header ul li a {
  color: gold;
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  padding: 6px 15px;
  border-radius: 20px;
}
.sub-menu-1 {
  display: none;
}

header .menu-bar li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: rgb(36, 36, 36);
  color: rgb(255, 111, 0);
  margin-top: 10px;
  margin-left: -15px;
}
header ul li a:hover,
.sub-menu-1 ul {
  display: block;
}
header ul li a:hover,
.sub-menu-1 ul li {
  background-color: transparent;
  border-bottom: 1px solid white;
}
header ul li a:hover,
.sub-menu-1 ul li:last-child {
  border-bottom: none;
}
header ul li a:hover,
.sub-menu-1 ul li:first-child {
  border-top: 2px dotted white;
}
header ul li a:hover {
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  background: gold;
  color: rgb(49, 49, 49);
  padding: 6px 15px;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: rgb(90, 90, 90);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 40rem;
}

.card-bio {
  background-color: #7a90ff;
  padding: 3rem 3rem 8rem 3rem;
  display: flex;
  position: relative;
  z-index: 100;
}

.img-wrapper {
  width: 9rem;
  height: 9rem;
  margin-right: 3rem;
}

.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.person-info {
  width: 60%;
  font-family: "Dosis", serif;
  color: #fff;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}

.person-info h3 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
}

.person-info p {
  font-size: 1.8rem;
}

.card-btn {
  position: absolute;
  bottom: -2.5rem;
  right: 10rem;
  width: 20rem;
  height: 6rem;
  background-color: #4d4d4d;
  color: #fff;
  border-radius: 5rem;
  border: none;
  font-family: "Dosis", serif;
  font-size: 2.4rem;
  text-transform: uppercase;
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.3);
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}

.change .card-btn {
  width: 6rem;
  right: 3rem;
  bottom: -3rem;
  border-radius: 50%;
}

.card-btn-contact {
  transition: all 0.5s 0.1s;
}

.card-btn-contact,
.card-btn i {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.change .card-btn-contact {
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;
}

.card-btn i {
  opacity: 0;
  visibility: hidden;
}

.change .card-btn i {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s;
}

.card-contact {
  background-color: #14b1ff;
  color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  transform: translateY(-100%);
  transition: all 0.5s;
}

.change .card-contact {
  transform: translateY(0);
}

.card-contact h4 {
  font-family: "Dosis", serif;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
  transform: scale(0);
  transform-origin: left;
  transition: all 0.5s;
}

.change .card-contact h4 {
  transform: scale(1);
}

.card-social {
  background-color: #fff;
  padding: 1.5rem;
  margin: 2rem 0;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transform: translateY(-50%);
  opacity: 0;
  visibility: hidden;
}

.email {
  transition: all 0.5s 0.3s;
}

.fb {
  transition: all 0.5s 0.5s;
}

.linkedin {
  transition: all 0.5s 0.7s;
}

.change .card-social {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.icon-wrapper {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.email .icon-wrapper {
  background-color: #dd4b39;
}

.fb .icon-wrapper {
  background-color: #3b5998;
}

.linkedin .icon-wrapper {
  background-color: #007bb6;
}

.icon-wrapper i {
  font-size: 2rem;
  color: #fff;
}

.contact-details h4 {
  font-family: "Dosis", serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.email h4 {
  color: #dd4b39;
}

.fb h4 {
  color: #3b5998;
}

.linkedin h4 {
  color: #007bb6;
}

.contact-details p {
  font-family: "Dosis", serif;
  font-size: 1.4rem;
  color: #444;
  letter-spacing: 0.1rem;
}

.card-social span {
  margin-left: auto;
  font-size: 2rem;
  font-weight: bold;
  color: #999;
}
.footer-bottom {
  font-family: cursive;
  font-size: xx-small;
  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
  opacity: 50%;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-bottom2 {
  font-family: cursive;
  font-size: xx-small;
  text-align: center;
  color: rgb(255, 255, 255);
  letter-spacing: 4px;
  opacity: 50%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer {
  padding: 20px;
  width: 97.5%;
  margin-top: 20px;
}

.footer-content {
  width: 97.5%;
  height: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: small;
  text-align: center;
  color: #ffff;
  letter-spacing: 4px;
  line-height: 30px;
}
#link {
  color: #ffff;
  text-decoration: rgb(246, 255, 0) underline;
  font-family: cursive;
  font-size: 25px;
}
.socials a {
  display: inline-block;
  font-size: 2.5em;
  padding: 15px;
  transition: 0.5s;
}

.socials a:hover {
  color: #441010;
  transform: scale(1.1);
}





.uuuiii{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  width: 100%;
  height: 800px;
}
.gggg{
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: #fff;
  width: 90%;
  height: 600px;
  box-shadow:  0.2rem 0.2rem 0.8rem rgb(147, 45, 1),
  0.2rem 0.2rem 3rem rgb(147, 45, 1);
  border-radius: 40px;
}