* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: gold;
}

header {
  color: gold;
  position: absolute;
  width: 95%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

header .logo {
  color: gold;
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  font-size: 30px;
  text-transform: uppercase;
}

header ul {
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header ul li {
  color: gold;
  margin-right: 30px;
}

header ul li a {
  color: gold;
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  padding: 6px 15px;
  border-radius: 20px;
}

header ul li a:hover{
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  background: rgb(0, 0, 0);
  color: red;
}

.main {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.main img {
  position: absolute;
  width: 105%;
  height: 100vh;
}

.content {
  color: rgb(68, 16, 16);
  padding: 30px;
}

.content h2 {
  margin: 20px;
  font-size: 30px;
}

.content p {
  margin: 20px;
}
p {
  line-height: 2;
}
.footer-bottom {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: xx-small;
  text-align: center;
  color: #ffff;
  letter-spacing: 4px;
  opacity: 50%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer {
  background: #4e0649;
  padding: 20px;
  width: 97.5%;
  margin-top: 20px;
}

.footer-content {
  width: 97.5%;
  height: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: small;
  text-align: center;
  color: #ffff;
  letter-spacing: 4px;
  line-height: 30px;
}
#link {
  color: #ffff;
  text-decoration: rgb(246, 255, 0) underline;
}
.socials a {
  display: inline-block;
  font-size: 2.5em;
  padding: 15px;
  transition: 0.5s;
}

.socials a:hover {
  color: #441010;
  transform: scale(1.1);
}
#l1 {
  color: rgb(68, 16, 16);
  font-family: monospace Script MT;
  font-size: 30px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.img1 {
  width: 500px;
  height: 300px;
  display: block;
  margin: 20px auto;
  padding: 5px;
}
.load {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.load div {
  width: 20px;
  height: 20px;
  background: linear-gradient(brown, gold);
  margin: 9px;
  border-radius: 50%;
  animation-name: up-down;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: alternate;
}
.load .one:hover {
  animation-play-state: paused;
}
.load .one {
  animation-delay: 0.3s;
}
.load .two {
  animation-delay: 0.6s;
}
.load .three {
  animation-delay: 0.9s;
}
.load .q {
  animation-delay: 1.2s;
}
.load .w {
  animation-delay: 1.5s;
}
.load .e {
  animation-delay: 1.8s;
}
.load .r {
  animation-delay: 2.1s;
}
.load .t {
  animation-delay: 2.4s;
}
.load .y {
  animation-delay: 2.7s;
}
.load .u {
  animation-delay: 3s;
}
.load .i {
  animation-delay: 3.3s;
}
.load .o {
  animation-delay: 3.6s;
}
.load .p {
  animation-delay: 3.9s;
}
.load .a {
  animation-delay: 4.2s;
}
.load .s {
  animation-delay: 4.5s;
}
.load .d {
  animation-delay: 4.8s;
}
.load .f {
  animation-delay: 5.1s;
}
.load .g {
  animation-delay: 5.4s;
}
.load .h {
  animation-delay: 5.7s;
}
.load .j {
  animation-delay: 6s;
}
.load .k {
  animation-delay: 6.3s;
}
.load .x {
  animation-delay: 6s;
}
.load .c {
  animation-delay: 5.7s;
}
.load .v {
  animation-delay: 5.4s;
}
.load .b {
  animation-delay: 5.1s;
}
.load .n {
  animation-delay: 4.8s;
}
.load .m {
  animation-delay: 4.5s;
}
.load .qq {
  animation-delay: 4.2s;
}
.load .ww {
  animation-delay: 3.9s;
}
.load .ee {
  animation-delay: 3.6s;
}
.load .rr {
  animation-delay: 3.3s;
}
.load .tt {
  animation-delay: 3s;
}
.load .yy {
  animation-delay: 2.7s;
}
.load .uu {
  animation-delay: 2.4s;
}
.load .ii {
  animation-delay: 2.1s;
}
.load .oo {
  animation-delay: 1.8s;
}
.load .pp {
  animation-delay: 1.5s;
}
.load .aa {
  animation-delay: 1.2s;
}
.load .ss {
  animation-delay: 0.9s;
}
.load .dd {
  animation-delay: 0.6s;
}
.load .ff {
  animation-delay: 0.3s;
}
@keyframes up-down {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
    transform: translateY(50px);
  }
}
.q{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Mercedes {
  margin: 40px;
  padding: 40px;
  border: 5px solid #4e0649;
  width: 500px;
  height: 800px;
  display: flex;
  flex-direction: column;
}
.Jaguar {
  margin: 40px;
  padding: 40px;
  border: 5px solid #4e0649;
  width: 500px;
  height: 800px;
  display: flex;
  flex-direction: column-reverse;
}
.eer4{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border: 5px solid linear-gradient(brown,gold,rgb(255, 255, 255));;
}
.eer4 p{
  font-size: 40px;
  font-family: cursive;
}