* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

body {
  height: 100vh;
}

a {
  text-decoration: none;
  color: rgb(0, 47, 255);
}

header {
  color: rgb(0, 47, 255);
  position: absolute;
  width: 95%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}

header .logo {
  color: rgb(0, 47, 255);
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  font-size: 30px;
  text-transform: uppercase;
}

header ul {
  color: rgb(0, 47, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header ul li {
  color: rgb(0, 47, 255);
  margin-right: 30px;
}

header ul li a {
  color: rgb(0, 47, 255);
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  padding: 6px 15px;
  border-radius: 20px;
}

header ul li a:hover {
  font-family: Georgia, "Times New Roman", Times, serif Script MT;
  background: rgb(0, 0, 0);
  color: red;
}

.footer-bottom {
  font-family: cursive;
  font-size: xx-small;
  text-align: center;
  color: #ffff;
  letter-spacing: 4px;
  opacity: 50%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.row1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer {
  padding: 20px;
  width: 97.5%;
  margin-top: 20px;
}

.footer-content {
  width: 97.5%;
  height: auto;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: small;
  text-align: center;
  color: #ffff;
  letter-spacing: 4px;
  line-height: 30px;
}
#link {
  color: #ffff;
  text-decoration: rgb(246, 255, 0) underline;
  font-family: cursive;
  font-size: 25px;
}
.socials a {
  display: inline-block;
  font-size: 2.5em;
  padding: 15px;
  transition: 0.5s;
}

.socials a:hover {
  color: #ffffff;
  transform: scale(1.1);
}
article {
  clear: both;
  margin-bottom: 100px;
}

.wwww-div {
  margin-top: 300px;
  text-align: center;
  width: 600px;
  background-color: #b4a6a6;
  padding: 20px;
  border-radius: 12px;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  line-height: 3;
}

.wwww-div img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 4px rgb(255, 255, 255);
}
